/Tareas/Pelostas/nbproject/private/
/Tareas/Pelostas/build/
/Tareas/Grafos/nbproject/private/
/Tareas/Grafos/build/
/Tareas/AgenteViajero/nbproject/private/
/Tareas/AgenteViajero/build/
/Tareas/HeuristicaVoraz/nbproject/private/
/Tareas/HeuristicaVoraz/build/
/Tareas/AgenteViajero/dist/
/Tareas/Transforms/nbproject/private/
/Tareas/Transforms/build/
/Tareas/AlgoritmoGenetico/nbproject/private/
/Tareas/AlgoritmoGenetico/build/
/Tareas/Render/nbproject/private/
/Tareas/Render/build/
/Tareas/EvolucionDiferencial/nbproject/private/